# Core Data Science Libraries (for preprocessing and predictions)
pandas
numpy
scikit-learn
xgboost

# FastAPI
fastapi
uvicorn[standard]
pydantic

# Model Serialization
joblib

# Environment Variables
python-dotenv

# Explainable AI
shap